<div class="container">
    <h3>Featured Properties</h3>
    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, autoPlay : true,}">

        <div owl-carousel-item="" ng-repeat="imageData in ::imageSrc" class="item text-center image-grid">
            <ul>
                <li ng-repeat="imageData in imageSrc.slice($index, ($index+3 > imageData.length ? imageData.length : $index+3))">
                    <img ng-click="getImagePropertyDetails(imageData)" ng-src="{{imageData.image}}" alt="" ></li>
            </ul>

        </div>

    </data-owl-carousel>
</div>