<div class="container">
    
    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, autoPlay : true,}">

        <div owl-carousel-item="" ng-repeat="imageData in ::imageSrc" class="item text-center image-grid">
            <ul>
                <li ng-repeat="imageData in imageSrc.slice($index, ($index+5 > imageData.length ? imageData.length : $index+5))">
                	<span class="resultmedia-tag">Featured</span>
                    <img ng-click="getImagePropertyDetails(imageData)" ng-src="{{imageData.image}}" alt="" >
                    <br/>{{imageData.property_name}}
                    </li>
            </ul>

        </div>

    </data-owl-carousel>
</div>