<div class="container">
    <div class="col-md-5 details">
        <div class="hotel-info">
            <h4>ABOUT US</h4>
            <p>Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
            <p>Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
        </div>
        <div class="news">
            <h4>FACILITIES</h4>
            <h5><a href="#">Quick Property Search</a></h5>
            <h5><a href="#">Online Payment</a></h5>
            <h5><a href="#">Reviews</a></h5>
            <h5><a href="#">Google Map</a></h5>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-7 details">
        <div class="join">
            <h4>GET IN TOUCH</h4>
            <p>Address </p>
            <p>Contact Number</p>
            <p><div class="footer_social"><ul>
                <li><a href="#" class="f1"></a></li>
                <li><a href="#" class="f2"></a></li>
                <li><a href="#" class="f3"></a></li>
                <li><a href="#" class="f4"></a></li>
            </ul></div></p>
        </div>
       <!--  <div class="member">
            <h4>TRAVELER'S AREA</h4>
            <form>
                <p>Username</p>
                <input type="text" placeholder="" required/>
                <p>Password</p>
                <input type="password" placeholder="" required/>
                <input type="submit" value="LOGIN"/>
            </form>
        </div> -->
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>