 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ABOUT US</h5>
                <p class="grey-text text-lighten-4">Suspendisse erat mi, tincidunt sit amet massa quis, commodo fermentum diam. Sed nec dui nec nunc tempor interdum.</p>
                <p class="grey-text text-lighten-4">Ut vulputate augue urna, ut porta dolor imperdiet a. Vestibulum nec leo eu magna aliquam ornare.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">FACILITIES</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Quick Property Search</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Online Payment</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Reviews</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Map</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
           Design By 
           <a class="grey-text text-lighten-4 " target="_blank" href="http://www.operandtechnologies.com" style="text-align: center;">Operand Technologies & IT Solution LLP</a>
            </div>
          </div>
        </footer>
            