<!-- <div class="top-header">
    <div class="container">
        <div class="top-menu">
            <ul>
                <li class="active"><a href="Index1">Home</a></li> -->
                <!-- <li><a class="scroll" href="About">About</a></li>
                <li><a class="scroll" href="Typography">Services</a></li>
                <li><a class="scroll" href="Booking">Booking</a></li>
                <li><a class="scroll" href="Contact">Contact</a></li> -->   
                           
               <!--  <li id="logIn"><a href="#" data-hover="LOGIN" onClick="checkLogin('Index1')">Login</a></li>
                <li id="logOut"><a href="#" data-hover="LOGOUT" onClick="checkLogout('Index1')">Logout</a></li>
 -->
                <!--<li class="active"><a href="index.html">START</a></li>
                <li><a class="scroll" href="facilities.html">FACILITIES</a></li>
                <li><a class="scroll" href="restaurant.html">RESTAURANT</a></li>
                <li><a class="scroll" href="conference.html">CONFERENCE</a></li>
                <li><a class="scroll" href="booking.html">BOOKING</a></li>
                <li><a class="scroll" href="contact.html">CONTACT US</a></li>-->
           <!--  </ul>
        </div>
        <span class="menu"> </span>
        <div class="m-clear"></div>
        <div class="logo">
            <ul>
                <li><a href="#" class="f1"></a></li>
                <li><a href="#" class="f2"></a></li>
                <li><a href="#" class="f3"></a></li>
                <li><a href="#" class="f4"></a></li>
            </ul>
            <script>            
                $("span.menu").click(function(){
                    $(".top-menu ul").slideToggle(200);
                });
            </script>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="banner">
    <div class="banner-info text-center">
        <h1>PROPERTY BOOKING</h1>
        <span></span>
        <ul>
            <li><a class="scroll" href="#">SEARCH</a><i class="line"></i></li>
            <li><a class="scroll" href="#">BOOK</a><i class="line2"></i></li>
            <li><a class="scroll" href="#">CONFIRM</a></li>
            <div class="clearfix"></div>
        </ul>
    </div>
</div> -->

