 
<html>
<head>
<title>Classic Hotel a Hotel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/chocolat.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery-ui.css" />
<!-- js -->
<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/font-awesome.min.css"/>
<link rel="stylesheet" href="css/popup_style.css" />
<script src="js/vendor/modernizr-2.6.2.min.js"></script>
<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-ui.js"></script>

<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/controller/landingPageController.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});  
	});
</script>
<!-- start-smoth-scrolling -->
</head>
<body ng-app="landingPageApp"  >
<!-- banner -->
<div class="bannerImg"></div>
<div class="banner" style="height: 468px;">
	<div class="container">
		<div class="header-nav">
			<div class="navigation">
				<span class="menu"><img src="images/menu.png" alt=""/></span>
				<nav class="cl-effect-11" id="cl-effect-11">
					<ul id="hiddenresponsive" class="nav1">
						<li><a class="active" href="Index1" data-hover="HOME">HOME</a></li>											 
					</ul>  
				</nav>
				<!-- script for menu -->
				<script> 
					$( "span.menu" ).click(function() {
					$( "ul.nav1" ).slideToggle( 300, function() {
					 // Animation complete.
					});
					});
				</script>
				<!-- //script for menu -->
			</div>
			<div class="social-icons">
				<ul>
					<li><a href="#" class="f1"></a></li>
					<li><a href="#" class="f2"></a></li>
					<li><a href="#" class="f3"></a></li>
					<li><a href="#" class="f4"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	 
	 	
	
	
	<!--</div>-->
</div>
<div class="gallery"  >
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h3 class="tittle">Sign Up </h3>
			<div ng-controller="loginCtrl">
				<form ng-submit="authenticateAdmin()">	 
					<div class="form-group">
						<input type="text" id="firstName" placeholder="First Name" ng-model="form.firstName" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="text" id="lastName" placeholder="Last Name" ng-model="form.lastName" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="text" id="mobileNumber" placeholder="Mobile Number" ng-model="form.mobileNumber" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="text" id="email" placeholder="email" ng-model="form.email" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="text" id="username" placeholder="Username" ng-model="form.username" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="password" id="login-pass" placeholder="Password" ng-model="form.password" class="form-control login-field" required>
					</div>
					<div class="form-group">
						<input type="hidden" name="access_type" id="access_type" ng-model="form.access_type" ng_init="form.access_type='user'">
					</div>
					<div class="form-group">
						<button  id="lgnBtn" class="btn btn-success modal-login-btn">Sign Up</button>
					</div>
					<div class="form-group">
						<a id="signUp_status_text" onClick="toggleFields()" style="cursor: pointer;">Already have an account? Login!</a>							
					</div>
				</form>	
			</div> 
		</div>	
	</div>	
</div>

<!-- //gallery -->
<!--footer-->
	 
	<div class="footer">
		<div class="container">				 	
			<div class="col-md-3 ftr_navi ftr">
				<h3>NAVIGATION</h3>
				<ul>
					<li><a href="Index1">Home</a></li>
					<li><a href="About">About</a></li>
					<li><a href="Typography">Services</a></li>						
					<li><a href="Booking">Booking</a></li>
					<li><a href="Contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
					 <h3>FACILITIES</h3>
					 <ul>
						 <li><a href="#">Quick Property Search</a></li>
						 <li><a href="#">Online Payment</a></li>
						 <li><a href="#">Reviews</a></li>						
						 <li><a href="#">Google Map</a></li>
					 </ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
				<h3>GET IN TOUCH</h3>
				<ul>
					<li>Address 1</li>
					<li>Address 2</li>
					<li>Contact Number</li>
				</ul>
			</div>
			<div class="col-md-3 ftr-logo">
				
				<ul>
					<li><a href="#" class="f1"> </a></li>
					<li><a href="#" class="f2"> </a></li>
					<li><a href="#" class="f3"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--footer-->
<!-- copy -->

<!-- //copy -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		function toggleFields(){
		//alert('here');
		$('#firstName').toggle();
		$('#lastName').toggle();
		$('#mobileNumber').toggle();
		$('#email').toggle();
		 
		if ($('#signUp_status_text').text() == "Already have an account? Login!") {
			$('#signUp_status_text').text("Don't have an account? Sign Up!");
			 $("#firstName").attr("disabled", "disabled");  
			  $("#lastName").attr("disabled", "disabled"); 
			  $("#mobileNumber").attr("disabled", "disabled");
			  $("#email").attr("disabled", "disabled");
			
			$('#lgnBtn').text("Login");
		} else{
			$('#signUp_status_text').text("Already have an account? Login!");
			$('#lgnBtn').text("Sign Up");
			 $("#firstName").removeAttr("disabled");
	            $("#lastName").removeAttr("disabled");
	            $("#mobileNumber").removeAttr("disabled");
	            $("#email").removeAttr("disabled");
	        
			}
	}
		$(document).ready(function() {
	
			var response = '';
			$.ajax({ type: "GET",   
			         url: "http://ipinfo.io/json",   
			         async: false,
			         success : function(text)
			         { //alert($.parseJSON(text));
			             response = text;
			             $.ajax({ type: "post",   
					         url: "VisitorInfo/insertVisitorData",  
					         datatype:'json',
					         data:response,
					         async: false,
					         success : function(text)					         
						         { 
						           	$.ajax({ 
										type: "post",   
									    url: "VisitorInfo/getVisitorCount",  		         
								         async: false,
								         success : function(response)
								         { 								        	
								        	var parseResp = $.parseJSON(response);
								        	$("#visitCount").html(parseResp.count);
								            
								         }
									});
						         }
					        
					         });
					         }
					
			});
			
							
		$().UItoTop({ easingType: 'easeOutQuart' });
		
		
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<div class="copy-right">
	<div class="container">
			<p>
				&copy; 2015 All Rights Reserved | Design by <a
					href="http://www.agilesoftsol.com/">Agile Technologies</a>
			</p>
	</div>
</div>
<!-- //smooth scrolling -->
<!-- login -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div>
					<h2 class="modal-title" id="myModalLabel">Login</h2>
				</div>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'ng-controller="loginCtrl">
						<h3 style="text-align: center; margin-top: 0px;">Admin</h3>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Username" ng-model="form.username" class="form-control login-field">
		              	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" ng-model="form.password" class="form-control login-field">
		              	</div>
						
		                <div class="form-group">
		            	  	<input type="hidden" name="access_type" id="access_type"  ng-model="form.access_type" value="user" ng_init="form.access_type='user'" class="form-control login-field">
		              	</div>
						
						<div class="form-group">
							<button ng-click="authenticateAdmin()" class="btn btn-success modal-login-btn">Login</button>
							
						</div>
	        		</div>
	        	
	        		<!--<div class='modal-body-right' ng-controller="loginCtrl">
	        			  <!--<div class="modal-social-icons">
	        				<a href='#' class="btn btn-default facebook"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
	        				<a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Sign In with Twitter </a>
	        				<a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
	        				<a href='#' class="btn btn-default linkedin"> <i class="fa fa-linkedin modal-icons"></i> Sign In with Linkedin </a>
	        			
	        			</div> -->
	        			<!--<h3>User</h3>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Username" ng-model="form.username" value="" class="form-control login-field">
		              	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" ng-model="form.password" value="" class="form-control login-field">
		              	</div>
		              	<div class="form-group">
		            	  	<input type="hidden" name="access_type" id="access_type" placeholder="Password" ng-model="form.access_type" value="user" ng_init="form.access_type='user'" class="form-control login-field">
		              	</div>
						<button ng-click="authenticate()" class="btn btn-success modal-login-btn">Login</button>
		            	<a href="#" class="login-link text-center" style="margin-left: -8px">Lost your password?
					</div>	
	        		<div id='center-line'> OR </div>-->
	        	</div>																												
        		<div class="clearfix"></div>
        	</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
				<div style="text-align:left !important; float:left;">
					<a href="Registration" class="login-link text-center" >New User?</a>
				</div>
				<div style="text-align:right !important; float:right;">
					<a href="#" class="login-link text-center" style="">Lost your password?</a>
				</div>
			</div>
    	</div>
  	</div>
</div>
</body>
</html>