<!DOCTYPE html>
<html ng-app="minmax">
<head>
<title>Classic Hotel a Hotel Category Flat Bootstrap Responsive Website Template | Booking :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/jquery-ui.css" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript" src="libs/angular/angular.min.js" ></script >
        <script type="text/javascript" src="libs/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script >
        <script type="text/javascript" src="libs/ladda/dist/spin.min.js" ></script >
        <script type="text/javascript" src="libs/ladda/dist/ladda.min.js" ></script >
        <script type="text/javascript" src="libs/angular-ladda/dist/angular-ladda.min.js" ></script >

<script  type="text/javascript" src="js/reg_main.js" ></script >
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
<!-- banner -->
<div class="banner page-head">
	<div class="container">
		<div class="header-nav">
			
			<div class="navigation">
				<span class="menu"><img src="images/menu.png" alt=""/></span>
				<nav class="cl-effect-11" id="cl-effect-11">
					<ul class="nav1">
						<li><a class="active" href="Index1" data-hover="HOME">HOME</a></li>
						<li><a href="About" data-hover="ABOUT">ABOUT</a></li>
						<li><a href="Typography" data-hover="SERVICES">SERVICES</a></li>
						<li><a href="Booking" data-hover="BOOKING">BOOKING</a></li>
						<li><a href="Contact" data-hover="CONTACT">CONTACT</a></li>
						<li><a href="Registration" data-hover="REGISTRATION">REGISTRATION</a></li>					  	
				       <li><button id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
					  LOGIN</button></li>
					</ul>
				</nav>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
				
			</div>
			<div class="social-icons">
				<ul>
					<li><a href="#" class="f1"></a></li>
					<li><a href="#" class="f2"></a></li>
					<li><a href="#" class="f3"></a></li>
					<li><a href="#" class="f4"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //banner -->
<!--about-->
<div class="booking">
	<div class="container">
		<h2 class="tittle-one">REGISTRATION</h2>
			<div class="reservation-form">
				<div class="col-md-3 reservation-left">
					<h3>Hotels</h3>
					<ul>
						<li><a href="booking.html"><img src="images/333.jpg" alt="" /></a></li>
						<li><a href="booking.html"><img src="images/555.jpg" alt="" /></a></li>
						<li><a href="booking.html"><img src="images/666.jpg" alt="" /></a></li>
						<li><a href="booking.html"><img src="images/777.jpg" alt="" /></a></li>
					</ul>
				</div>
				<div class="col-md-9 reservation-right">
					<div class="container main-content" ng-controller="MinMaxCtrl">
						<form ng-submit="onSubmit()" novalidate="novalidate"  ng-hide="submitted" >
							<div class="form-group" >
								<input type="text" class="form-control" ng-model="formModel.username"ng-pattern="/^[A-Za-z0-9_]{1,32}$/"
										   ng-minlength="7" ng-pattern-err-type="badUsername" id="username" name="username" placeholder="User Name" required="required" >
							</div >
								<div class="form-group" >
									
									<input type="password" class="form-control"   ng-model="formModel.password"  id="password" placeholder="Password"
												 required="required" name="password" ng-minlength="10">
								</div >
								<div class="form-group" >
									<input type="text" class="form-control" ng-model="formModel.fname"  name="fname" id="name" placeholder="First Name"  required="required" >
								</div >
								<div class="form-group" >
									
									<input type="text"  class="form-control" ng-model="formModel.lname" name="lname" id="lname" placeholder="Last Name"  required="required" >
								</div >
								
								<div class="form-group">
									
									<input type="text"
										   class="form-control"
										   ng-model="formModel.phone"
										   id="phone" name="phone" placeholder="Mobile Number"
											   required="required" >
								</div >
								<div class="form-group">
									
									<input type="email"
										   class="form-control"
										   ng-model="formModel.email"
										   id="email" name="email" placeholder="Email"
											   required="required" >
								</div >

								<div class="form-group">
									
									<textarea type="text"
										   class="form-control"
										   ng-model="formModel.address"
										   id="address" name="address" placeholder="Address.."
											   required="required" ></textarea>
								</div >
								

										
								<div class="form-group">

									<div class="alert alert-danger text-center" ng-show="has_error">
										<h3>There was a problem registering, please try again later!</h3>
									</div>

									<button class="btn btn-primary"
											ladda="submitting"
											data-style="expand-right"
													type="submit">
										<span ng-show="submitting">Registering</span>
										<span ng-show="!submitting">Register</span>
									</button>
								</div>

						</form >
							<div class="alert alert-info text-center" ng-show="submitted">
										<h3>Thanks for Registering!</h3>
							</div>
						</div>		
										 
															
											<!--strat-date-piker-->
											
											<script src="js/jquery-ui.js"></script>
													  <script>
															  $(function() {
																$( "#datepicker,#datepicker1,#datepicker2" ).datepicker();
															  });
													  </script>
					<!--//End-date-piker-->
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
</div>
<!--//about-->
<!--footer-->
<div class="footer">
		<div class="container">				 	
			<div class="col-md-3 ftr_navi ftr">
				<h3>NAVIGATION</h3>
				<ul>
					<li><a href="Index1">Home</a></li>
					<li><a href="About">About</a></li>
					<li><a href="Typography">Services</a></li>						
					<li><a href="Booking">Booking</a></li>
					<li><a href="Contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
					 <h3>FACILITIES</h3>
					 <ul>
						 <li><a href="#">Double bedrooms</a></li>
						 <li><a href="#">Single bedrooms</a></li>
						 <li><a href="#">Royal facilities</a></li>						
						 <li><a href="#">Connected rooms</a></li>
					 </ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
				<h3>GET IN TOUCH</h3>
				<ul>
					<li>Ola-ola street jump,</li>
					<li>260-14 City, Country</li>
					<li>+62 000-0000-00</li>
				</ul>
			</div>
			<div class="col-md-3 ftr-logo">
				<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Classic Hotel</a>
				<ul>
					<li><a href="#" class="f1"> </a></li>
					<li><a href="#" class="f2"> </a></li>
					<li><a href="#" class="f3"> </a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--footer-->
<!-- copy -->
<div class="copy-right">
	<div class="container">
			<p>
				&copy; 2015 All Rights Reserved | Design by <a
					href="http://www.agilesoftsol.com/">Agile Technologies</a>
			</p>
	</div>
</div>
<!-- //copy -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->


</body>
</html>