
<!DOCTYPE html>
<html>
<head>
<title>Classic Hotel a Hotel Category Flat Bootstrap Responsive
	Website Template | Search :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Classic Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
	
	addEventListener("load", function()
	{
		setTimeout(hideURLbar, 0); 
	}, false);
	function hideURLbar()
	{
		window.scrollTo(0,1);
	}

</script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui1.css">
<link rel="stylesheet" href="css/jquery-ui.css" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/global/global_url_variable.js"></script>
<script type="text/javascript" src="js/global/global_functions.js"></script>
<script type="text/javascript" src="js/dirPagination.js"></script>
<script type="text/javascript"
	src="js/controller/checkRoomAvailabilityController.js"></script>
<!-- //js -->
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   
  	<script>
	$(function() {
		$("#checkIn").datepicker({
			dateFormat: "dd-mm-yy", 
			minDate:  0,
			onClose: function(date){            
				var date1 = $('#checkIn').datepicker('getDate');           
				var date = new Date( Date.parse( date1 ) ); 
				date.setDate( date.getDate() + 1 );        
				var newDate = date.toDateString(); 
				newDate = new Date( Date.parse( newDate ) );                      
				$('#checkOut').datepicker("option","minDate",newDate);            
			}
		});
		$('#checkOut').datepicker({
			dateFormat: "dd-mm-yy" 
		});
	});
</script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
	$(function() {
	    $( "#datepicker,#datepicker1" ).datepicker();
	    
	    $("#moreFilters").click(function(){
	    	
	    	var target = $(this);
		    if( target.length ) {
		        event.preventDefault();
		        $('html, body').animate({
		            scrollTop: target.offset().top - 15
		        }, 1000);
		    }   
	          $('#moreFilters').text('More Filters +');
	          if($('#moreFiltersExpand').is(':hidden') == true) {	        	  
	              
	              $(this).slideDown('normal');
	              $(this).text('More Filters -');
	           } 
			$("#moreFiltersExpand").toggle();
			$("#clearFilters").toggle();
			
		})
		
		 $("#clearFilters").click(function(){
			 
			 location.reload();
		 })
		
	  });
	
	
	
	
</script>

  
 
<!-- start-smoth-scrolling -->
</head>
<body ng-app="checkRoomAvailabilityApp" ng-controller="checkRoomAvailabilityController" data-ng-init="getRoomAvailability()">
	<!-- banner -->
	<div class="banner page-head">
		<div class="container">
			<div class="header-nav">
				<div class="navigation">
					<span class="menu"><img src="images/menu.png" alt="" /></span>
					<nav class="cl-effect-11" id="cl-effect-11">
						<ul class="nav1">
							<li><a href="Index1" data-hover="HOME">HOME</a></li>
							
							<li><a href="#"   data-hover="LOGIN" onClick="checkLogin('RoomAvailability')">LOGIN</a>
							 <li><a href="Logout"   data-hover="LOGOUT" >LOGOUT</a></li> 	
											</ul>
					</nav>
					<!-- script for menu -->
					<script>
						$("span.menu").click(function() {
							$("ul.nav1").slideToggle(300, function() {
								// Animation complete.
							});
						});
					</script>
					<!-- //script for menu -->
				</div>
				<div class="social-icons" style="margin-top: -3%;" >
					<ul>
						<li><a href="#" class="f1"></a></li>
						<li><a href="#" class="f2"></a></li>
						<li><a href="#" class="f3"></a></li>
						<li><a href="#" class="f4"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!--search-->
			<div class="col-md-9" style="margin-top: 3%"	>
				<form method="post" action="RoomAvailability">
  
					<div class="banner-bottom-search">
						<div class="row">
						<div class="col-md-3" id="blankdiv" style="display:none">&nbsp;</div>
							<div class="col-md-4 fff" >
								<input type = "text" id="inpDestination" onClick="show()" name="inpDestination" ng-model="inputDestination" placeholder="Where do you want to go?" ng-click="expandFilterOptions()" class="inputDestination" style="width: 100%; height: 3.2em; " />
							</div>
							<div class="col-md-1" id="aaa" style="display:inline;">
									<select class="sel propertyType" ng-model="selectAccomodationType"  id="propertyType" name="propertyType" ng-init="selectAccomodationType=accomodationType[0]"  
											ng-options="accomodation as accomodation.label for accomodation in accomodationType track by accomodation.value " 
											ng-show = "inputDestination != 'Where you want to go?'" style=" padding-top: 38px; padding-bottom: 0px; margin-top: 0px;" ></select>
							</div>
							<div class="col-md-1" id="bbb" style="display:inline;">
									<select class="sel guedtf" ng-model="selectGuestHeadCount" id="guestCount" name="guestCount" ng-init="selectGuestHeadCount=guestHeadCount[0] " ng-options="option as option for option in guestHeadCount" }></select>
							</div>
						 	<div class="col-md-2" id="ccc"  style="display:inline;">
								<input class="date" name="checkIn" id="checkIn" ng-model="checkInDate" placeholder="checkIn" type="text" style=" width:10em; padding: 12px 0px -1px 0px !important;  border:0px;" required/>
								
							</div>
							<div class="col-md-2" id="ddd" style="display:inline;">
								<input class="date" name="checkOut" id="checkOut" type="text" ng-model="checkOutDate" placeholder="checkOut" style="width:10em;  margin: 16px 0px 0px 8px !important;  border:0px;" required/>
							</div>
							<div class="col-md-2 eee"><div class="search"><input type="submit"  onClick="return allFieldsVisible()" name="submit" style="margin: 0px;" value="Filter"></div></div >
							  
						</div>
						<div class="clearfix"></div><br/>
						<div style="float: left; margin-right: 20px"> 
							Sort by : <select ng-model="sortByFilter" ng-change="getRoomAvailability()" ng-init="sortByFilter = sortByFilter || 'propAToZ'">
									<option value="bedLowToHigh" selected>Bedrooms : Low to High</option>
									<option value="bedHighToLow">Bedrooms : High to Low</option>
									<option value="accLowToHigh">Accommodates : Low to High</option>
									<option value="accHighToLow">Accommodates : High to Low</option>
									<option value="propAToZ">Property Name : A to Z</option>
									<option value="propZToA">Property Name : Z to A</option>
							</select>
						</div>
						
						<div  style="float: left"> 
							Bedrooms : <select ng-model="sortByBedrooms" ng-change="getRoomAvailability()" ng-init="sortByBedrooms = sortByBedrooms || 'All'">
									<option value="All">All</option>
									<option value="1">1 Bedroom</option>
									<option value="2">2 Bedrooms</option>
									<option value="3">3 Bedrooms</option>
									<option value="4">4 Bedrooms</option>
									<option value="5">5+ Bedrooms  </option>
									
							</select>
						</div>
						
						<div class="plusMinus"  id="moreFilters"> More Filters +</div>
						<div class="clearFilter"  id="clearFilters" style="display:none"> Clear </div>
						<div class="clearfix"></div><br/>
						<div id="moreFiltersExpand" style="display:none">
							<form>
								<div>
									<table style="width:100%">
										<tr style="color: blueviolet">
											<th style="width: 8%">Ratings</th>
											<th style="width: 9%">Bathrooms</th>
											<th style="width: 9%">Feature</th>
											<th style="width: 9%">Facilities</th>
											<th style="width: 20%">Accomodation Type</th>
										</tr>
										<tr style="vertical-align: top">
											<td>
												<div ng-repeat="starRateLabel  in starRateList">
													<input type="checkbox" id={{starRateLabel.name}} 
														ng-model="starRateLabel.selected"
														ng-change="isLabelChecked('starRate')"> <label
														for={{starRateLabel.name}}> <span></span> <b><img
															ng-src={{starRateLabel.star_image_url}} alt="" /></b>
													</label>
												</div>
											</td>
											<td>
												 
												<ul>
												    <li ng-repeat="bathroom in bathroomList"  >
												    	<input
														id={{bathroom.name}} type="checkbox"
														ng-model="bathroom.selected"
														ng-click="isLabelChecked('bathroom')">{{bathroom.Label}}
												    </li>
												     
												</ul>
												
												
											</td>
											<td>
												<ul>
													<li ng-repeat=" featureListLabel in featureList"><input
														id={{featureListLabel.name}} type="checkbox"
														ng-model="featureListLabel.selected"
														ng-change="isLabelChecked('features')">{{featureListLabel.featureLabel}}
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat=" facilityListLabel in facilityList"><input
														id={{facilityListLabel.name}} type="checkbox"
														ng-model="facilityListLabel.selected"
														ng-change="isLabelChecked('facility')">{{facilityListLabel.facilityLabel}}
													</li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat=" propertyTypeListLabel in propertyTypeNames"><input
														id={{propertyTypeListLabel.propertyTypeId}} type="checkbox"
														ng-model="propertyTypeListLabel.selected"
														ng-change="isLabelChecked('PropertyType')">{{propertyTypeListLabel.propertyTypeName}}
													</li>
													
												</ul>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
				</div>
			</form>
		
				
		</div>
		
			<div class="gallery" id="featuredProperty" ng-controller="featuredPropertyCtrl"
		data-ng-init="featuredPropFetch()">
		<div class="container" style="height: 100px; position: relative">
			 
			<div class="gallery-bottom col-md-4" style="display: inline-block"
				ng-repeat="imageData in imageSrc">
				<div class="gal-grid">
					<div class="view view-fifth">
						<div
							class="b-link-stripe b-animate-go thickbox"
							title="{{imageData.property_name}}"
							style="text-decoration: none;cursor:pointer;"> <img
							ng-src="{{imageData.image}}" alt="" class="img-responsive" style="height: 100%;width: 100%;">
							<div class="resultmedia-tag">Featured</div>
							<div class="mask">
								<h4 ng-click="alert(imageData.property_id);getPropertyDetails(imageData.property_id)">{{imageData.property_name}}</h4>
								<!-- <p>{{imageData.property_description | limitTo:70}}
								{{imageData.property_description.length > 70 ? '...' : ''}}</p>								
								<input type="submit" ng-click="getPropertyDetails(imageData.property_id)"  value="More.." /> -->  
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>&nbsp;

				<script src="js/jquery.chocolat.js"></script>

				<!--light-box-files -->
				<script type="text/javascript">
					$(function() {
						$('.gallery a').Chocolat();
					});
				</script>
			</div>
		</div>
		
	</div>
			
	<div class="leftBanner">
		<div style="border: 1px solid; background-color: skyblue;width: 100%; height: 50%;">LEFT PANEL 1</div>
		<div style="border: 1px solid; background-color: skyblue;width: 100%; height: 50%;">LEFT PANEL 2</div>
	</div>
	<div class="search-page" >
		<div class="container">
			<div class="search-grids" style="margin-top: 6%">
					
				<div class="col-md-9" style="margin-left: 10%">
				
					<div class="search-grid-right" >
										<div class="ang-dir-paginate">
							<dir-pagination-controls
								max-size="5"
								direction-links="true"
								boundary-links="true"
								auto-hide="true">
							</dir-pagination-controls>
						</div>
						<div class="hotel-left" dir-paginate="rooms in propNames | itemsPerPage : 50">
						
							<div class="hotel-left-grids">
						
								<div class="hotel-left-one">
								<a href="" ng-click="getPropertyDetails(rooms)"> 
											 {{rooms.propertyName}}<span style="color:black;float:right" ng-repeat="r_cnt in strtoint(rooms.starRate)">★</span>
										</a>
									<a href="" ng-click="getPropertyDetails(rooms)"> 
										<img ng-src="{{rooms.ImagePath}}" alt=""/>										
										
										<p id="text"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{rooms.propertyAddress}}</p>
										 <img src='images/breakfast.png' ng-if=" rooms.free_breakfast == 'Yes' " style="width: 10%; height: 10%" title="Free Breakfast">
									       <img src='images/pool.png' ng-if=" rooms.pool == 'Yes' " style="width: 10%; height: 10%" title="Swimming Pool">
									       <img src='images/parking.png' ng-if=" rooms.free_parking == 'Yes' " style="width: 10%; height: 10%" title="Free Parking">
									       <img src='images/television.png' ng-if=" rooms.television_access == 'Yes' " style="width: 10%; height: 10%" title="Television Access">
									       <img src='images/internet.png' ng-if=" rooms.internet_access == 'Yes' " style="width: 10%; height: 10%" title="Internet Access">
									       <img src='images/smoking.png' ng-if=" rooms.smoking_allowd == 'Yes' " style="width: 10%; height: 10%" title="Smoking Allowed">
									       <img src='images/pet.png' ng-if=" rooms.pet_friendly == 'Yes' " style="width: 10%; height: 10%" title="Pet Friendly">
									      
									    
									</a>
								</div>

							 </div>
						</div>
						 
					</div>
				</div>
			</div>
	<form>
						
		</div>
	</div>
	
	<div class="clearfix"></div>
	<!--//search-->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 ftr_navi ftr">
				<h3>NAVIGATION</h3>
				<ul>
					<li><a href="Index1">Home</a></li>
					<li><a href="About">About</a></li>
					<li><a href="Typography">Services</a></li>
					<li><a href="Booking">Booking</a></li>
					<li><a href="Contact">Contact</a></li>
					<li><a href="Index1/RedirectToAdmin">Admin Panel</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
				<h3>FACILITIES</h3>
				<ul>
					<li><a href="#">Double bedrooms</a></li>
					<li><a href="#">Single bedrooms</a></li>
					<li><a href="#">Royal facilities</a></li>
					<li><a href="#">Connected rooms</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr_navi ftr">
				<h3>GET IN TOUCH</h3>
				<ul>
					<li>Ola-ola street jump,</li>
					<li>260-14 City, Country</li>
					<li>+62 000-0000-00</li>
				</ul>
			</div>
			<div class="col-md-3 ftr-logo">
				<a href="index.html"><span class="glyphicon glyphicon-home"
					aria-hidden="true"></span>Classic Hotel</a>
				<ul>
					<li><a href="#" class="f1"> </a></li>
					<li><a href="#" class="f2"> </a></li>
					<li><a href="#" class="f3"> </a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--footer-->
	<!-- copy -->
	<div class="copy-right">
		<div class="container">
			<p>
				&copy; 2015 All Rights Reserved | Design by <a
					href="http://www.agilesoftsol.com/">Agile Technologies</a>
			</p>
		</div>
	</div>
	<!-- //copy -->
	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */
			$().UItoTop({
				easingType : 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span
		id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling -->

</body>
</html>