<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin | Add Property</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
	<link href="assets/css/bootstrapValidator.css" type="text/css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="assets/css/sb-admin.css" type="text/css" rel="stylesheet"/>
	<!--<link href="assets/css/accordian-style.css" type="text/css" rel="stylesheet"/>-->
    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="initialize()" ng-app="add_property">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Admin">Property Booking Admin</a>
				 <a class="navbar-brand" href="Logout/viewSite">View Site</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li>
                            <a href="Logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="Admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Property <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="AddProperty">Add</a>
                            </li>
                            <li>
                                <a href="DisplayProperty">Display</a>
                            </li>
                        </ul>
                    </li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" ng-controller="add_property_ctrl">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Property
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="Admin">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Add Property
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
				
                <div class="row">
                    <div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12">
								<center class="breadcrumb"><strong>--- Property Info ---</strong></center>
							</div>
						</div>
						<div>
                        <form data-toggle="validator" role="form" id="form_id" class="form-horizontal"
							method="post" action="AddProperty/getPropertyInfo" 
							enctype="multipart/form-data" 
							data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
							data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
							data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                            <div class="example1">
							
								<div class="panel panel-default">
									<div class="panel-heading" data-acc-link="demo1"><i class="glyphicon glyphicon-ok-circle"></i> Mandatory</div>
									<div class="panel-body acc-open" data-acc-content="demo1">
										<div class="form-group">
											<label class="control-label col-md-3" for="PropertyName">Type</label>
											<div class="col-md-7">
												<select name="property_type" id="property_type_id" class="form-control" required data-bv-notempty-message="Please select the property type">
													<option value=""> Select Property Type </option>
													<option ng-repeat="p_type in typeList" value="{{p_type.property_type_id}}">
														{{p_type.property_type_name}}
													</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="PropertyName">Name</label>
											<div class="col-md-7">
												<input class="form-control" type="text" id="PropertyName_id" name="PropertyName" placeholder="Enter property name" 
												pattern="^\S[A-Za-z ]{1,50}" data-bv-regexp-message="Characters and white space allowed only"
												data-bv-notempty="true" data-bv-notempty-message="The property name is required">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="Street">Street</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter street" id="Street_id" type="text" name="Street" 
												required data-bv-notempty-message="The street name is required">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="City">City</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter city" type="text" id="City_id" name="City" 
												required data-bv-notempty-message="The city name is required">
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="State">State</label>
											<div class="col-md-7">
												<select name="State" id="State_id" class="form-control" required data-bv-notempty-message="Please select the state">
													<option value=""> Select State </option>
													<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
													<option value="Andhra Pradesh">Andhra Pradesh</option>
													<option value="Arunachal Pradesh">Arunachal Pradesh</option>
													<option value="Assam">Assam</option>
													<option value="Bihar">Bihar</option>
													<option value="Chandigarh">Chandigarh</option>
													<option value="Chhattisgarh">Chhattisgarh</option>
													<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
													<option value="Daman and Diu">Daman and Diu</option>
													<option value="Delhi">Delhi</option>
													<option value="Goa">Goa</option>
													<option value="Gujarat">Gujarat</option>
													<option value="Haryana">Haryana</option>
													<option value="Himachal Pradesh">Himachal Pradesh</option>
													<option value="Jammu and Kashmir">Jammu and Kashmir</option>
													<option value="Jharkhand">Jharkhand</option>
													<option value="Karnataka">Karnataka</option>
													<option value="Kerala">Kerala</option>
													<option value="Lakshadweep">Lakshadweep</option>
													<option value="Madhya Pradesh">Madhya Pradesh</option>
													<option value="Maharashtra">Maharashtra</option>
													<option value="Manipur">Manipur</option>
													<option value="Meghalaya">Meghalaya</option>
													<option value="Mizoram">Mizoram</option>
													<option value="Nagaland">Nagaland</option>
													<option value="Orissa">Orissa</option>
													<option value="Pondicherry">Pondicherry</option>
													<option value="Punjab">Punjab</option>
													<option value="Rajasthan">Rajasthan</option>
													<option value="Sikkim">Sikkim</option>
													<option value="Tamil Nadu">Tamil Nadu</option>
													<option value="Telangana">Telangana</option>
													<option value="Tripura">Tripura</option>
													<option value="Uttaranchal">Uttaranchal</option>
													<option value="Uttar Pradesh">Uttar Pradesh</option>
													<option value="West Bengal">West Bengal</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="State">PIN Code</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter PIN" type="text" name="PostalCode" id="PostalCode_id" 
												pattern="^\d{6}$" data-bv-trigger="blur" data-bv-regexp-message="The PIN code is not valid" 
												data-bv-notempty="true" data-bv-notempty-message="The PIN code is required">
											</div>
										</div>

									   <div class="form-group">
											 <label class="control-label col-md-3" for="StarRate">Star Rate</label>
												<div class="col-md-7">
													<input id="switcher" class="form-control" placeholder="Enter star rate" type="range" name="StarRate" min="1" max="5" step="1" value="1">
													<output for="StarRate" id="rating"></output>
												</div>
										 </div>
										
										<div class="form-group">
											<label class="control-label file col-md-3" for="mainImage">Upload Main Image</label>
											<div class="col-md-7">
												<input class="form-control" type="file" name="mainImage" id="mainImage_id" required data-bv-notempty-message="Please upload main image">
												<p class="help-block">(Image for main display)</p>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="propertyImages">Upload Images</label>
											<div class="col-md-7">
												<input class="form-control" type="file" name="propertyImages[]" id="propertyImages_id" multiple required data-bv-notempty-message="Please upload gallery images">
												<p class="help-block">(Images for gallery)</p>
											</div>
										</div>

										
										
										<div class="form-group">
											<label class="control-label col-md-3" for="description">Description</label>
											<div class="col-md-7">
												<textarea class="form-control" id="description_id" name="description" placeholder="Enter property description (This will appear on website)"
												required data-bv-notempty-message="Please enter description about property" rows="6"></textarea>
											</div>
										</div>
										
									</div>
								</div>
							
							
								<div class="panel panel-default">
									<div class="panel-heading" data-acc-link="demo2"><i class="glyphicon glyphicon-list"></i> Features and Facilities (<i>Optional</i>)</div>
									<div class="panel-body" data-acc-content="demo2">
										<div class="form-group">
											<label class="control-label col-md-3" for="location_map">Map Location</label>
											<div class="col-md-7">
												<!--<textarea class="form-control" name="location_map" placeholder="Enter location string for Google map" rows="6"></textarea>-->
												<div class="col-lg-7" id="map_canvas" style="width:auto;height:270px;"></div>
												<input class="form-control" type="hidden" name="latitude" id="latbox">
												<input class="form-control" type="hidden" name="longitude" id="lngbox">
												<p class="help-block">Drag & drop the marker near your location</p>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="description">How To Reach</label>
											<div class="col-md-7">
												<textarea class="form-control" name="how_to_reach" placeholder="Enter info how to reach" rows="6"></textarea>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Bedrooms">Bedrooms</label>
											<div class="col-md-7">
												<select name="Bedrooms" class="form-control">
													<option value=""> Select number of bedrooms </option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>	
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Bedrooms">Beds</label>
											<div class="col-md-7">
												<select name="beds" class="form-control">
													<option value=""> Select number of beds </option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
												</select>	
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Bathrooms">Bathrooms</label>
											<div class="col-md-7">
												<select name="Bathrooms" class="form-control">
													<option value=""> Select number of bathrooms </option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Bedrooms">Accommodates</label>
											<div class="col-md-7">
												<select name="accommodates" class="form-control">
													<option value=""> Select accommodates </option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
													<option value="11">11</option>
													<option value="12">12</option>
													<option value="13">13</option>
													<option value="14">14</option>
													<option value="15">15</option>
													<option value="16">16</option>
													<option value="17">17</option>
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
												</select>	
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Meals">Meals</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter Meals" type="text" name="Meals">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Pool"></label>
											<div class="col-md-7">
												<label class="checkbox-inline">
													<input type="checkbox" name="Pool" id="optionsRadios1" value="Yes">Pool
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="internet_access" id="optionsRadios1" value="Yes">Internet / WIFI
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="smoking_allowd" id="optionsRadios1" value="Yes">Smoking Allowed
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3" for="Pool"></label>
											<div class="col-md-7">
												<label class="checkbox-inline">
													<input type="checkbox" name="television_access" id="optionsRadios1" value="Yes">Cable TV
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="pet_friendly" id="optionsRadios1" value="Yes">Pet friendly
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="air_condition" id="optionsRadios1" value="Yes">Air Conditioning
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3" for="Pool"></label>
											<div class="col-md-7">
												<label class="checkbox-inline">
													<input type="checkbox" name="payment_facility" id="optionsRadios1" value="Yes">Payment Facility
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="in_house_kitchen" id="optionsRadios1" value="Yes">In House Kitchen
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="restaurant" id="optionsRadios1" value="Yes">Restaurant
												</label>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-3" for="Pool"></label>
											<div class="col-md-7">
												<label class="checkbox-inline">
													<input type="checkbox" name="free_parking" id="optionsRadios1" value="Yes">Free Parking
												</label>
												<label class="checkbox-inline">
													<input type="checkbox" name="first_aid_available" id="optionsRadios1" value="Yes">First Aid Available
												</label>
											</div>
										</div>
										
										<!--<div class="form-group">
											<label class="control-label col-md-3" for="Pool"></label>
											<div class="checkbox-inline col-md-9">
												
											</div>
										</div>-->
										
										<div class="form-group">
											<label class="control-label col-md-3" for="EntertainMent">Entertainment</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter Entertainment" type="text" name="EntertainMent">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="OtherAmenities">Other Amenities</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter other amenities" type="text" name="OtherAmenities">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Theme">Theme</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter theme" type="text" name="Theme">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="Attractions">Attractions</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter attractions" type="text" name="Attractions">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="LeisureActivities">Leisure Activities</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter leisure activities" type="text" name="LeisureActivities">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-md-3" for="General">General</label>
											<div class="col-md-7">
												<input class="form-control" placeholder="Enter general info" type="text" name="General">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 col-md-offset-3">
											<button type="submit" class="btn btn-success" >Save and Continue</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						</div>
					</div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrapValidator.js"></script>
	<script type="text/javascript" src="assets/js/jquery.accordion.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	var app = angular.module('add_property', []);
	//'Authentication','Modal','ngRoute','ngSanitize'
	app.controller('add_property_ctrl', function($scope, $http){
		$http({
			method: 'GET',
			url:'Propertytype/getPropertyType'
		}).success(function (response){
			//alert(response));
			$scope.typeList = response;
		});
	});
	
	$(document).ready(function() {
		$('#form_id').bootstrapValidator();
    });
	$("#switcher").on("input", function() {
		document.getElementById('rating').value = $("#switcher").val();
	});
	
	/* - map - */
	var map;
	function initialize()
	{
		var myLatlng = new google.maps.LatLng(18.52134436604565,73.85548553063973);
		var myOptions = {
							zoom: 15,
							center: myLatlng,
							mapTypeId: google.maps.MapTypeId.ROADMAP
						};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions); 
		var marker = new google.maps.Marker({
			draggable: true,
			position: myLatlng,
			map: map,
			title: "Property location"
		});

		
		google.maps.event.addListener(marker, 'dragend', function (event) {
			document.getElementById("latbox").value = this.getPosition().lat();
			document.getElementById("lngbox").value = this.getPosition().lng();
		});
	}
	/* - map end - */
	
	/*-- validation function--*/
	/*function validation()
	{
		if(document.getElementById('property_type_id').value=="")
		{
			alert("Please select property type");
			return false;
		}
		else if(document.getElementById('PropertyName_id').value=="")
		{
			alert("Please enter property name");
			return false;
		}
		else if(document.getElementById('Street_id').value=="")
		{
			alert("Please enter street info");
			return false;
		}
		else if(document.getElementById('City_id').value=="")
		{
			alert("Please enter city name");
			return false;
		}
		else if(document.getElementById('State_id').value=="")
		{
			alert("Please enter state name");
			return false;
		}
		else if(document.getElementById('PostalCode_id').value=="")
		{
			alert("Please enter postal code");
			return false;
		}
		else if(document.getElementById('mainImage_id').value=="")
		{
			alert("Please select the main image");
			return false;
		}
		else if(document.getElementById('propertyImages_id').value=="")
		{
			alert("Please select gallery images");
			return false;
		}
		else if(document.getElementById('description_id').value=="")
		{
			alert("Please enter the description");
			return false;
		}
		else
		{
			return true; 
		}
	}*/
	
	/*$(function() {
		$('.example1').accordion({ 
			multiOpen: false
		});
	});*/
	
	</script>
</body>

</html>
